<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>

    <title><%- page.title ? page.title + ' — ' : '' %>CatLib</title>
    <meta charset="utf-8">
    <meta name="description" content="<%- theme.site_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <script src="<%- url_for("/js/vue.js") %>"></script>
    <script>window.PAGE_TYPE = "<%- page.type %>"</script>

    </head>

    <body>
        <%- partial('partials/header' , { 'isIndex' : isIndex }) %>
        <%- body %>
        <%- partial('partials/footer' , { 'isIndex' : isIndex }) %>
    </body>
</html>