<nav class="nav">
    <div class="border">
        <img src="<%- url_for('images/logo.png')%>" />
        <button class="hiden-in-phone">V1.0</button>
        <button id="btn-menu" class="hiden-in-pc"><%=__('nav.menu')%></button>
        <ul class="nav-link hiden-in-phone">
            <!--li>
                <form id="search-form">
                    <input type="text" id="search-query" class="search-query">
                </form>
            </li!-->
            <li><a href="<%- url_for("/v1/guide/use.html") %>" class="nav-link-li<%- page.path.match(/use/) ? ' current' : '' %>"><%= __('nav.use')%></a></li>
            <li><a href="<%- url_for("/v1/guide/update.html") %>" class="nav-link-li<%- page.path.match(/update/) ? ' current' : '' %>"><%= __('nav.update')%></a></li>
            <li><a href="<%- url_for("/v1/guide/contribution.html") %>" class="nav-link-li<%- page.path.match(/contribution/) ? ' current' : '' %>"><%= __('nav.contribution')%></a></li>
            <li><a href="<%- url_for("/v1/guide/index.html") %>" class="nav-link-li<%- page.path.match(/index/) ? ' current' : '' %>"><%= __('nav.guide')%></a></li>
            <li><a href="<%- url_for("/") %>" class="nav-link-li<%- page.path.match(/\//) ? ' current' : '' %>"><%= __('nav.index')%></a></li>
        </ul>
    </div>
</nav>

<div class="container clear">
    <%- partial('partials/sidebar') %>

    <%- partial('partials/article') %>
</div>

<footer>
    <div>
        <p><%- theme.copyright %></p>
        <p><%- theme.copyright_desc %></p>
    </div>
</footer>