<li>
    <form id="search-form">
        <input type="text" id="search-query" class="search-query">
    </form>
</li>
<li><a href="<%- url_for("/") %>" class="nav-link<%- page.path.match(/\//) ? ' current' : '' %>"><%= __('nav.index')%></a></li>
<li><a href="<%- url_for("/v1/guide/index.html") %>" class="nav-link<%- page.path.match(/index/) ? ' current' : '' %>"><%= __('nav.guide')%></a></li>
<li><a href="<%- url_for("/v1/guide/contribution.html") %>" class="nav-link<%- page.path.match(/contribution/) ? ' current' : '' %>"><%= __('nav.contribution')%></a></li>
<li><a href="<%- url_for("/v1/guide/update.html") %>" class="nav-link<%- page.path.match(/update/) ? ' current' : '' %>"><%= __('nav.update')%></a></li>
<li><a href="<%- url_for("/v1/guide/use.html") %>" class="nav-link<%- page.path.match(/use/) ? ' current' : '' %>"><%= __('nav.use')%></a></li>